* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #4f46e5, #06b6d4); /* Indigo to Cyan */
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container section {
  width: 75%;
  height: 90%;
  background-color: #f3f4f6; /* soft gray */
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

/* Header */
#heading-container {
  background: #e0f7fa; /* light aqua */
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

#heading-container h1 {
  font-size: 2.5rem;
  color: #1e3a8a; /* deep blue */
  /* text-decoration: underline; */
  text-shadow: 1px 1px 2px #fff;
}

/* Game dashboard */
#game-dashboard {
  width: 100%;
  padding: 1px 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f8fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-weight: bolder;
  font-size: 1.1rem;
}
#game-status {
  display: flex;
  gap: 2rem;
}

/* Card grid */
#card-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #e7eaf1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  user-select: none;
}
@keyframes cardInFromCenter {
  0% {
    transform: translate(0, 0) ;
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50%) ;
    opacity: 0.5;
  }
}
/* Applied temporarily on card creation */
.card.temp {
  position: absolute;
  top: 0px;
  right: 0px;
  /* transform: translate(-50%, -50%) ; */
  opacity: 0.5;
  animation: cardInFromCenter 0.6s ease-out forwards;
}

/* Card styling */
.card {
  margin: 0px auto;
  width: 170px;
  aspect-ratio: 1/1;
  background: rgb(40, 66, 75); 
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.25s ease; */
  cursor: pointer;
  position: relative;
  background-image: url("./assets/download.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
/* style when win */
.wonDisplay-container {
  background-color: greenyellow;
  border-radius: 1rem;
  grid-column: span 4;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px dashed black;
  outline-offset: -5px;
}
.restar-btn {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 1rem;
  font-weight: bold;
}
.restar-btn:hover {
  scale: 1.02;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
  background: cyan;
  color: indigo;
}

/* Flipped card */
.flipped {
  background-color: white;
  background-image: none;
  color: #1e3a8a;
  font-weight: bold;
  box-shadow: 0 0 10px 3px #60a5fa;
}

/* Red sliding animation */
@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
}

.slide {
  animation: slide 300ms infinite ease-in-out;
  box-shadow: 0 0 10px 2px red !important;
}
